<div class="img">
  <%= image_tag "travel-by-plane.jpg" %>
  <div>Book your flight today
  </div>
</div>

<%= form_with model: @flights, url: '/flights', method: :get, data: { turbo_frame: "list-flights" } do |form| %>
  <%= form.label :departure_airport_id %>
  <%= form.select :departure_airport_id, @departure_options %>

  <%= form.label :arrival_airport_id %>
  <%= form.select :arrival_airport_id, @arrival_options %>

  <%= form.label :tickets %>
  <%= form.select :tickets, [1,2,3,4] %>

  <%= form.label :start, 'Flight date' %>
  <%= form.select :start, @start_options %>
  
  <%= form.submit 'Search' %>
<% end %>

<%= turbo_frame_tag id='list-flights' do %>
  <% if request.query_parameters[:commit] %>
    <ul>
      <% if @found_flights.empty? %>
        <p>No flights matching your search query</p>
      <% else %>
        <p>Found <%= @found_flights.count %> flight(s)</p>
        <%= form_with url: new_booking_path, method: :get do |f| %>
          <% @found_flights.each do |flight| %>
            <%= f.radio_button :flight_id, flight.id %>
            <%= f.label "flight_#{flight.id}" do %>
              From: <%= flight.departure_airport.code %>
              To: <%= flight.arrival_airport.code %>
              Date: <%= flight.start.to_fs(:long) %>
              Tickets: <%= request.query_parameters[:flight][:tickets] %>
            <% end %>
            <%= f.hidden_field :tickets, value: request.query_parameters[:flight][:tickets] %>
          <% end %>
          <%= f.submit 'Select Flight', data: { turbo_frame: '_top' } %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
