<div class="form">
  <%= form_with model: @booking do |form| %>
    <div>
      <%= form.label :flight, 'Flight ID' %>
      <%= form.text_field :flight, value: @flight.id, readonly: true, disabled: true %>
      <%= form.hidden_field :flight_id, value: @flight.id %>
    </div>
  
    <div>
      <%= form.label :date, 'Date' %>
      <%= form.text_field :date, value: @flight.start, readonly: true, disabled: true %><br>
    </div>
  
    <div>
      <%= form.label :departure_airport, 'Departure Airport' %>
      <%= form.text_field :departure_airport, value: @flight.departure_airport.code, readonly: true, disabled: true %>
    </div>
  
    <div>
      <%= form.label :arrival_airport, 'Arrival Airport' %>
      <%= form.text_field :arrival_airport, value: @flight.arrival_airport.code, readonly: true, disabled: true %><br><br>
    </div>
  
    <div data-controller='passenger'>
      <div data-passenger-target='div'>
        <%= form.fields_for :passengers do |p| %>
          <%= p.label :name %>
          <%= p.text_field :name %>

          <%= p.label :email %>
          <%= p.email_field :email %><br><br>
        <% end %>
      </div>

      <button type='button' data-action='passenger#add'>Add Passenger</button>

      <template data-passenger-target='template'>
        <div class="nested-fields">
          <%= form.fields_for :passengers, Passenger.new, child_index: 'TEMPLATE' do |p| %>
            <%= p.hidden_field :_destroy%>

            <%= p.label :name %>
            <%= p.text_field :name %>

            <%= p.label :email %>
            <%= p.email_field :email %>

            <button  type='button' data-action='passenger#remove'>Remove</button><br><br>
            
          <% end %>
        </div>
      </template>
    </div>

    <%= form.submit %><br>
    
  <% end %>
</div>